body{
    background: linear-gradient(to right, #00bf63, #006046);
    min-height: 100vh;
    }
    .title {color: white;
    }
    p {
    gap: 10px;
    text-align: left;    
    }
    header {background: #333;}

    .navbar {background: gray;}
    
    .navbar-item {color: white}
    
    .column {
        color: black;
        border:1px solid black;
        min-width:15%;
        background: linear-gradient(to right, #a6a6a6, #4c4c4c);
        }